{% extends '::base.html.twig' %}

{% block body -%}
    <h1><a href="{{ path('_list') }}">Contact list</a></h1>
    <form action="{{ path('_search') }}" method="post">
        <input type="text" placeholder="search" name="search">
        <input type="submit" value="search">
    </form>
    
    {% if entities|length == 0 %}
        <p>No elements found</p>
    {% else %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th><a href="{{ sort['firstName'] }}">Firstname<a/></th>
                <th><a href="{{ sort['lastName'] }}">Lastname</a></th>
                <th><a href="{{ sort['phoneNumber'] }}">Phonenumber<a/></th>
                <th><a href="{{ sort['email'] }}">Email<a/></th>
                <th><a href="{{ sort['address'] }}">Address<a/></th>
                <th><a href="{{ sort['city'] }}">City<a/></th>
                <th><a href="{{ sort['zip'] }}">Zip<a/></th>
                <th><a href="{{ sort['isFriend'] }}">Isfriend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.zip }}</td>
                <td>{% if entity.isFriend == true %} true {% else %} false {% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <p>All: {{ counted['all'] }}</p>
        <p>Friends: {{ counted['friends'] }}</p>
{% endif %}
        <ul>
        <li>
            <a href="{{ path('_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
